* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --header-color: #000000;
  --text-color: #ffffff;
  --button-color: #000000;
  --text-outline-color: #000000;
  --border-color: #0000004f;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 20px;
  background-color: var(--header-color);
  box-shadow: 0 3px 6px var(--border-color);
  color: var(--text-color);
}