* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --header-color: #272727;
  --text-color: #ffffff;
  --button-color: #272727;
  --text-outline-color: #272727;
  --border-color: #272727;
  --outline-color: #272727;
}

.content {
  padding: 20px;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 15px;
  padding: 20px;
  background-color: var(--header-color);
  box-shadow: 0 3px 6px var(--border-color);
  color: var(--text-color);
}

#left {
  display: flex;
  align-items: center;
  gap: 10px;
}

#troll {
  height: auto;
  width: 100%;
  max-width: 60px;
}

#input-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#top-text, #bottom-text {
  height: 50px;
  width: 100%;
  max-width: 390px;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  font-size: 1rem;
}

#btn-parent {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

#get-meme {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  max-width: 800px;
  padding-block: 12px;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid var(--border-color);
  border-radius: 6px; 
  background-color: var(--header-color);
  color: var(--text-color);
}

#get-meme:hover {
  filter: brightness(80%);
}

#display-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  aspect-ratio: 1;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px 40px 20px 40px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  background-size: 100% 100%;
}

.top-meme-text, .bottom-meme-text {
  font-size: 3rem;
  color: var(--text-color);
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}